<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-light bg-light">


    {% if 'user_id' in session %}
    <a class="navbar-brand">Привет {{ session.get('user_name') }} ({{ session.get('user_role') }})</a>
    <form class="form-inline" action="{{ link }}" method="get">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">{{ title }}</button>
    </form>
    {% endif %}

    {% if 'user_id' not in session %}
    <a class="navbar-brand">twitter</a>
    <form class="form-inline" action="{{ link }}" method="get">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">{{ title }}</button>
    </form>
    {% endif %}


</nav>


{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}

{% for category, message in messages %}
<div class="alert {{ category }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

{% endif %}
{% endwith %}


{% block body %}{% endblock %}
</body>
</html>