<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/createfile" method="post">
    <label for="name">Имя:</label><br>
    <input type="text" name="name"><br>

    <label for="surname">Фамилия:</label><br>
    <input type="text" name="surname"><br>

    <input type="submit" value="Go">
</form>

<a href="/getfile" download>
  <img src="http://www.iconarchive.com/download/i99352/dtafalonso/android-lollipop/Downloads.ico" style="width: 50px" alt="file.txt">
</a>

</body>
</html>