{% extends "pages/template_page.html" %}

{% block head %}
    <title>Twitter</title>
{% endblock %}


{% block body %}
    <div class="container" style="margin-top:5%">
        <h4>Публикации</h4><br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Создать</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create"
                   aria-selected="false">На проверке&nbsp;<span class="badge badge-warning">{{ message_cnt }}</span></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent" style="padding-top:6px">

            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                {% if 'user_id' in session %}
                    <div class="container" style="margin-top: 7%">

                        <h3>Создать</h3>

                        <form action="/send" method="post">
                            <div class="form-group">
                                <label for="title">Название</label>
                                <input type="text" name="title" required="true" class="form-control"
                                       aria-describedby="nameHelp"
                                       placeholder="Текст названия">
                            </div>

                            <div class="form-group">
                                <label for="text">Текст</label>
                                <textarea class="form-control" name="text" required="true" rows="3"
                                          placeholder="Текст публикации"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="tag">Теги</label>
                                <input type="text" name="tag" required="true" class="form-control"
                                       placeholder="Ваши теги">
                                <small class="form-text text-muted">Напиши теги через запятую.</small>
                            </div>

                            <button type="submit" class="btn btn-primary">Опубликовать</button>
                        </form>
                        <hr>
                    </div>
                {% endif %}
            </div>

            <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="create-tab">

                {% for message in messages %}

                    {#                    Вывод сообщений юзера                 #}

                    {% if message.user_id == session.get('user_id') and session.get('role_id') != 1 %}
                        <div class="card cardstyle">
                            <div style="width:20%">
                                <img id="card_avatar" src="https://randomuser.me/api/portraits/men/81.jpg"
                                     alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h2 class="card-text">{{ message.user.name }} написал(а)</h2>
                                <h5 class="card-title">{{ message.title }}</h5>
                                <p class="card-text">{{ message.text }}</p>
                                {% for tag in message.tags %}
                                    <a href='#{{ tag.text }}' class="badge badge-secondary">#{{ tag.text }}</a>
                                {% endfor %}
                            </div>
                            <div class="card-footer text-muted">
                                {% if session.get('role_id') == 1 %}
                                    <a href="/post/confirm/{{ message.id }}" class="btn btn-success">
                                        <i class="far fa-check-circle"></i>
                                    </a>
                                    <a href="/post/delete/{{ message.id }}" class="btn btn-danger">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                    <a href="/post/update/{{ message.id }}" class="btn btn-warning">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                {% endif %}
                                <p class="badge" style="float:right"><i
                                        class="far fa-calendar-alt"></i> {{ message.time.date() }}
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    {#                    Вывод сообщений для админа                #}

                    {% if session.get('role_id') == 1 %}
                        <div class="card cardstyle">
                            <div style="width:20%">
                                <img id="card_avatar" src="https://randomuser.me/api/portraits/men/81.jpg"
                                     alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h2 class="card-text">{{ message.user.name }} написал(а)</h2>
                                <h5 class="card-title">{{ message.title }}</h5>
                                <p class="card-text">{{ message.text }}</p>
                                {% for tag in message.tags %}
                                    <a href='#{{ tag.text }}' class="badge badge-secondary">#{{ tag.text }}</a>
                                {% endfor %}
                            </div>
                            <div class="card-footer text-muted">
                                {% if session.get('role_id') == 1 %}
                                    <a href="/post/confirm/{{ message.id }}" class="btn btn-success">
                                        <i class="far fa-check-circle"></i>
                                    </a>
                                    <a href="/post/delete/{{ message.id }}" class="btn btn-danger">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                    <a href="/post/update/{{ message.id }}" class="btn btn-warning">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                {% endif %}
                                <p class="badge" style="float:right"><i
                                        class="far fa-calendar-alt"></i> {{ message.time.date() }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
