{% extends "pages/template_page.html" %}

{% block head %}
<title>Register</title>
{% endblock %}


{% block body %}

<div class="container" style="width: 40%; margin-top: 7%">
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}

    <h3>Регистрация</h3>
    <form action="/check_register" method="post">
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" name="name" class="form-control" placeholder="Имя">
            {#
            <small id="emailHelp" class="form-text text-muted"></small>
            #}

            <label for="login">Логин</label>
            <input type="text" name="login" class="form-control" placeholder="Введите Логин">
            {#
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            #}
        </div>
        <div class="form-group">
            <label for="password_one">Пароль</label>
            <input type="password" name="password_one" class="form-control" placeholder="Введите пароль">
        </div>
        <div class="form-group">
            <label for="password_two">Повторите пароль</label>
            <input type="password" name="password_two" class="form-control" placeholder="Повторите пароль">

        </div>
        <div class="form-group form-check">
            <input type="checkbox" required="true" class="form-check-input">
            <label class="form-check-label" for="exampleCheck1">Ты не пройдёшь</label>
        </div>
        <button type="submit" class="btn btn-primary">Регистрация</button>
    </form>

</div>
{% endblock %}