<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script src="https://kit.fontawesome.com/b19ca9de92.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% if 'user_id' in session %}
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='img/favicon.png') }}" width="30" height="30"
             class="d-inline-block align-top"
             alt="">
        JPoster
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" >
        {% if session.get('role') == 'admin' %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/"><i class="fas fa-home"></i>&nbsp;<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts"><i class="fas fa-paper-plane"></i>&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users"><i class="fas fa-user-friends"></i>&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings"><i class="fas fa-user-cog"></i>&nbsp;</a>
            </li>
        </ul>
        {% endif %}

        {% if session.get('role') != 'admin' %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fas fa-home"></i>&nbsp<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts"><i class="fas fa-paper-plane"></i>&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/{{ session.get('user_id') }}"><i class="fas fa-user-cog"></i>&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/key"><i class="fas fa-file-download"></i>&nbsp;Электронный ключ</a>
            </li>
        </ul>
        {% endif %}

        <span class="navbar-text">
            <i class="fas fa-user"></i>&nbsp;Привет, <b>{{ session.get('user_name') }}</b> {{ session.get('role') }}&nbsp;&nbsp;
        </span>
    </div>
    {% endif %}

    {% if 'user_id' not in session %}

    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='img/favicon.png') }}" width="30" height="30"
             class="d-inline-block align-top"
             alt="">
        JPoster
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        {% if session.get('role') == 'admin' %}
        <ul class="navbar-nav mr-auto"></ul>
        {% endif %}
        {% if session.get('role') != 'admin' %}
        <ul class="navbar-nav mr-auto"></ul>
        {% endif %}
        {% endif %}

        <form class="form-inline" action="{{ link }}" method="get">
            <button class="btn btn-warning my-2 my-sm-0" type="submit">{{ title }}</button>
        </form>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}

{% for category, message in messages %}
<div class="alert {{ category }} alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

{% endif %}
{% endwith %}


{% block body %}{% endblock %}
</body>
</html>