{% extends "pages/template_page.html" %}

{% block head %}
<title>Twitter</title>
{% endblock %}


{% block body %}

<div class="container" style="margin-top:5%">

    <h3>Публикация</h3>

    <form action="post/update/{{ message.id }}" method="post">
        <div class="form-group">
            <label for="title">Название</label>
            <input type="text" name="title" required="true" class="form-control" aria-describedby="nameHelp"
                   placeholder="Текст названия" value="{{ message.title }}">
            <!--        <small class="form-text text-muted">We'll never share your name with anyone else.</small>-->
        </div>

        <div class="form-group">
            <label for="text">Текст</label>
            <textarea class="form-control" name="text" required="true" rows="3"
                      placeholder="Текст публикации">{{ message.text }}</textarea>
        </div>

        <div class="form-group">
            {% for t in tag %}
            <a href='#{{ t.text }}' class="badge badge-secondary">#{{ t.text }}</a>
            {% endfor %}
            <small class="form-text text-muted">Вы не можете изменить теги</small>
        </div>

        <button type="submit" class="btn btn-primary">Обновить</button>
        <button type="button" onclick="location.href='/';" class="btn btn-warning">Отмена</button>
    </form>
    <hr>
</div>

{% endblock %}